@media (max-width: 1200px) {
    .img-banner{
        margin-left: 0;
    }

    .navbar {
        padding: 8px 70px;
    }

    .banner {
        padding: 16px 70px;
    } 

    .caixa{
        padding: 60px 70px;
    }
}

@media (max-width: 992px) {
    .img-banner{
        display: none;
    }
    
    .bloco-banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

@media (max-width: 768px) {
    .navbar {
        padding: 8px 20px;
    }

    .banner {
        padding: 16px 20px;
    }

    .caixa{
        padding: 60px 20px;
    }
}